*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
}

nav{
    position: relative;
    height: 10%;
    width: 100%;
    background-color: #1ebbd7b7;
    display: flex;
}

#brand{
    margin-top:17px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#search{
    margin-top: 10px;
    margin-left: 100px;
    height: 70%;
    width: 57%;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.search{
    height: 25px;
    width: 10%;
    margin-top: 10px;
    cursor: pointer;
}

#input{
    height: 80%;
    width: 90%;
    border: none;
    outline-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
    font-size: 19px;
    margin-top: 5px;
    margin-right: 5px;
}

::placeholder{
    color: rgb(112, 111, 111);
    font-size: 19px;
}

#sign-in{
    height: 50%;
    width: 5%;
    margin-top: 17px;
    margin-left: 50px;
    background-color: white;
    border: none;
    outline-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(85, 83, 83);
    cursor: pointer;
}

.cart{
    position: relative;
    list-style-type: none;
    margin-top: 18px;
    margin-left: 40px;
}
.cart:hover{
    cursor: pointer;
}
.cart>img{
    height: 35px;  
}
.cart>#sub-menu{
    display: none;
}

.cart:hover #sub-menu{
    display: block;
    min-height: 450px;
    min-width: 300px;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 1%;
    box-shadow: 0 0 15px 1px rgb(197, 195, 195);
    border-radius: 4px;
    text-align: center;
}

#sub-menu>table{
    height: 90%;
    width: 95%;
}

.tb-label{
    color: black;
    font-weight: 400;
    font-size: 18px;
}

#sign-up{
    height: 70%;
    width: 35%;
    border: 1px solid rgb(182, 181, 181);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    border-radius: 6px;
    display: none;
}

.delete-item{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 4px;
    color: #fff;
    font-size: 30px;
}

#empty-cart{
    width: 90%;
    height:35px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

#empty-cart:hover{
    cursor: pointer;
    border: none;
    background-color: black;
    color: white    ;
}

#Sign{
    font-size: 45px;
    font-weight: 440;
    margin-top: 15px;
    margin-left: 44px;
}

#input-email{
    height: 80px;
    width: 80%;
    margin-left: 47px;
    margin-top: 40px;
}

#email{
    font-size: 20px;
    font-weight: 400;
}

#inemail{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid  #1ebbd7b7;
    border-radius: 5px;
    outline-color:  #1ebbd7b7;
    padding: 15px 20px;
}

#submit{
    height: 40px;
    width: 380px;
    margin-top: 57px;
    margin-left: 48px;
    background-color: #2ed8f7fa;
    border-radius: 5px;
    border:1px solid #127e91b7;
    outline-color: #127e91b7;
    font-size: 20px;
    color: rgb(227, 246, 255);
}

#container{
    height: 180vh;
    width: 100%;
    display: block;
}

#container-2{
    height: 85%;
    width: 90%;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    height: 36%;
    width: 26%;
    box-shadow: 0 0 15px 1px rgba(173, 173, 173, 0.349);
    align-items: center;
    text-align: center;
}

#text-top{
    font-size: 35px;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 32px;
}

.product-image{
    width: 100%;
    height: 55%;
    background-size:cover;
}
#p-one{
    background-image: url(https://images.unsplash.com/photo-1564570439388-81bf3bfc4b77?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1122&q=80);
}
#p-two{
    background-image: url(https://images.unsplash.com/photo-1572314493295-09c6d5ec3cdf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
}
#p-three{
    background-image: url(https://images.unsplash.com/photo-1510017098667-27dfc7150acb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}
#p-four{
    background-image: url(https://images.unsplash.com/photo-1510878933023-e2e2e3942fb0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
}
#p-five{
    background-image: url(https://images.unsplash.com/photo-1588940086836-36c7d89611a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}
#p-six{
    background-image: url(https://images.unsplash.com/photo-1598429703718-3a126dd458dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
}
.about{
    padding-left: 32px;
    padding-top: 8px;
    font-weight: 401;
    font-size: 20px;
    padding-right: 30px;
}

.add-to-cart{
    margin-top: 20px;
    height: 38px;
    width: 290px;
    color: #fff;
    background-color: rgb(81, 182, 207);
    border:none;
    border-radius: 4px;
}

.add-to-cart:hover{
    background-color: rgb(47, 136, 158);
    cursor: pointer;
}

.price{
    font-size: 17px;
    font-weight: 300;
    padding-top: 12px;
}

#intro{
    color: rgb(75, 74, 74);
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;
}

#footer{
    margin-top: 7%;
    height: 30%;
    width: 100%;
    background-color: black;
}